<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Souscription à une offre</title>
  </head>
  <body>
    {% block body %} {% block username %} {% endblock username %} {% block offre
    %} {% endblock offre %} {% endblock body %}
  </body>
</html>
